# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
ENV/
env/
.idea/
.vscode/

# PyInstaller
*.spec

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.cache/
.pytest_cache/

# Logs
*.log

# alembic
alembic/versions/*.pyc

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
*.code-workspace
